<div class="container">
  <h2>Angular Components</h2>

  <!-- Если мы хотим получить данные от компонента класса, то используем круглые скобки, и слушаем то метод, который мы создали в Post-form.component-e. И для него создаем новый метод, который будет реализоваться у родителя, в нашем случае app-component -->
  <app-post-form (onAdd)="updatePosts($event)"></app-post-form>
  <hr />
  <!-- то, что мы прописала в квадратные скобки, означает, что мы bind-или -->
  <app-post *ngFor="let p of posts" [myPost]="p">
    <div #info>
      <small *ngIf="p.text.length > 10; else short">Пост длинный</small>
      <ng-template #short>Пост короткий</ng-template>
    </div>
  </app-post>
</div>
